---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.tsx";
import Read from "../components/Read.tsx";
---

<Layout title="RouteMaker">
  <main>
    <Map client:load />
    <Read client:load />
  </main>
</Layout>
